# DS-SF-36 | 03 | `pandas` | Codealong | Starter Code

(http://pandas.pydata.org/pandas-docs/stable)

## Part A | Introduction to `pandas`

In [52]:
import os

import pandas as pd
pd.set_option('display.max_rows', 15)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)
#pd.set_option('html.border',10)

> ## `pd.read_csv()`: load datasets from files (or even over the Internet)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [53]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-properties.csv'))

> ## `DataFrame`

Let's check `df`'s type:

In [58]:
pd.describe_option()

compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]

compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]

display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]

display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]

display.column_space No description available.
    [default: 12] [currently: 12]

display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]

display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]

display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]

display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]

display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]

display.height : int
    Deprecated.
    [default: 60] [currently: 15]
    (Deprecated, use `display.max_rows` instead.)

display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]

display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]

display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    Valid values: False,True
    [default: True] [currently: True]

display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    Valid values: False,True
    [default: False] [currently: False]

display.latex.multicolumn : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: True] [currently: True]

display.latex.multicolumn_format : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: l] [currently: l]

display.latex.multirow : bool
    This specifies if the to_latex method of a Dataframe uses multirows
    to pretty-print MultiIndex rows.
    Valid values: False,True
    [default: False] [currently: False]

display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]

display.line_width : int
    Deprecated.
    [default: 80] [currently: 80]
    (Deprecated, use `display.width` instead.)

display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 10]

display.max_colwidth : int
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output.
    [default: 50] [currently: 50]

display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]

display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 15]

display.max_seq_items : int or None
    when pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]

display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]

display.mpl_style : bool
    Setting this to 'default' will modify the rcParams used by matplotlib
    to give plots a more pleasing visual style by default.
    Setting this to None/False restores the values to their initial value.
    [default: None] [currently: None]

display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]

display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]

display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]

display.precision : int
    Floating point output precision (number of significant digits). This is
    only a suggestion
    [default: 6] [currently: 6]

display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]

display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]

display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]

display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]

html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 10]

io.excel.xls.writer : string
    The default Excel writer engine for 'xls' files. Available options:
    'xlwt' (the default).
    [default: xlwt] [currently: xlwt]

io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    'openpyxl' (the default).
    [default: openpyxl] [currently: openpyxl]

io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    'xlsxwriter' (the default), 'openpyxl'.
    [default: xlsxwriter] [currently: xlsxwriter]

io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]

io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]

mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]

mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]

mode.use_inf_as_null : boolean
    True means treat None, NaN, INF, -INF as null (old way),
    False means None and NaN are null, but INF, -INF are not null
    (new way).
    [default: False] [currently: False]

`df` is a `DataFrame`.  (http://pandas.pydata.org/pandas-docs/stable/dsintro.html)

A `DataFrame` stores tabular data.  Let's have a look at its content:

In [54]:
df

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,...,557.0,sqft,NaN,NaN,2010.0
1,89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,...,1050.0,sqft,NaN,NaN,2007.0
2,15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,...,937.0,sqft,NaN,NaN,1983.0
3,15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,...,1574.0,sqft,1947.0,sqft,1959.0
4,52266124,"88 King St APT 317, San Francisco, CA",37780630,-122389635,False,...,1205.0,sqft,NaN,NaN,2000.0
5,2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,False,...,400.0,sqft,NaN,NaN,NaN
6,15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,False,...,541.0,sqft,NaN,NaN,1950.0
...,...,...,...,...,...,...,...,...,...,...,...
993,61288364,"439 19th Ave, San Francisco, CA",37779545,-122478580,False,...,1544.0,sqft,NaN,NaN,2001.0
994,69819412,"250 King St UNIT 410, San Francisco, CA",37777645,-122393430,False,...,822.0,sqft,NaN,NaN,2004.0
995,82786211,"310 Townsend St APT 311, San Francisco, CA",37777027,-122395736,False,...,853.0,sqft,NaN,NaN,2006.0
996,15103435,"1343 31st Ave, San Francisco, CA",37762152,-122490254,False,...,1886.0,sqft,3000.0,sqft,1934.0
997,15195183,"3916 Alemany Blvd, San Francisco, CA",37711527,-122467755,False,...,1300.0,sqft,2553.0,sqft,1941.0
998,15180783,"430 Fair Oaks St, San Francisco, CA",37749725,-122424094,False,...,2678.0,sqft,NaN,NaN,1911.0
999,54854296,"720 Stockton St APT 3, San Francisco, CA",37792578,-122407366,False,...,886.0,sqft,NaN,NaN,2001.0

> ## `.head()`: first 5 (default) rows

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.head.html)

In [ ]:
df.head()

> ## `.tail()`: last 5 (default) rows

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.tail.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.tail.html)

In [ ]:
# TODO

> ## `.shape`: shape (i.e., number of rows and columns)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.shape.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.shape.html)

In [ ]:
df.shape

The first value (at index 0) is the number of rows, the second (at index 1), the number of columns:

In [ ]:
df.shape[0]

In [ ]:
# TODO

You can also use the idiomatic Python `len` function to get the number of rows:

In [61]:
len(df)

1000

> ## `.dtypes`: column types

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dtypes.html)
- (http://pandas.pydata.org/pandas-docs/stable/basics.html)

In [55]:
df.dtypes

ID               int64
Address         object
Latitude         int64
Longitude        int64
IsAStudio       object
Beds           float64
Baths          float64
Size           float64
SizeUnit        object
LotSize        float64
LotSizeUnit     object
BuiltInYear    float64
dtype: object

> ## `.isnull()` and `.notnull()`: NaN (Not-a-Number)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.isnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isnull.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.notnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.notnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.notnull.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sum.html)

As a data scientist, we will have to decide what to do when encountering missing values (a.k.a, not-a-numbers).  We might decide to drop the row containing it, drop the whole column, or impute it.  Today, let's focus on finding these NaNs.

In [ ]:
df.isnull()

In return, we get a new `DataFrame` with Boolean values.  `True` if the value is `NaN`, `False` otherwise.

We can also get the count per column:

In [64]:
df.isnull().sum()

ID               0
Address          0
Latitude         0
Longitude        0
IsAStudio       14
Beds           164
Baths           58
Size            33
SizeUnit        33
LotSize        444
LotSizeUnit    444
BuiltInYear     25
dtype: int64

Summing again will return the number of cells in the `DataFrame` with missing values.

In [66]:
df.isnull().sum().sum()

1215L

Equivalently, we can also use the `.isnull()` function:

In [ ]:
pd.isnull(df)

We also also use `.notnull()`, its complement method:

In [ ]:
df.notnull()

In [ ]:
pd.notnull(df)

> ### `.index` and `.columns`: row and column labels

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.html)

Use the `.index` property to get the label for rows.  For columns, use the `.columns` property.

In [ ]:
df.index

In [ ]:
type(df.index)

In this specific case, rows are just numbered from 0 to 1,000.  Note that, similarly to Python's standard `range` function, this range also excludes the last number.

In [ ]:
df.columns

In [ ]:
type(df.columns)

> ## `[ [] ]` and `[]`: subsetting on columns

Selecting specific columns is performed by using the `[]` operator.

If the values passed to `[]` are non-integers, the `DataFrame` will attempt to match them to those in the `columns` property.

> Let's subset the `DataFrame` on columns `Size` and `SizeUnit`:

In [ ]:
# TODO

> How about just on `Address`?

In [ ]:
# TODO

> ## `Series`

(http://pandas.pydata.org/pandas-docs/stable/dsintro.html)

Not passing a list will result in a `Series`:

In [67]:
df['Address']

0        829 Folsom St UNIT 906, San Francisco, CA
1       690 Market St UNIT 1705, San Francisco, CA
2      401 Grand View Ave APT 3, San Francisco, CA
3                250 Concord St, San Francisco, CA
4            88 King St APT 317, San Francisco, CA
5                 409 Miguel St, San Francisco, CA
6          1250 Clay St APT 306, San Francisco, CA
                          ...
993                439 19th Ave, San Francisco, CA
994        250 King St UNIT 410, San Francisco, CA
995     310 Townsend St APT 311, San Francisco, CA
996               1343 31st Ave, San Francisco, CA
997           3916 Alemany Blvd, San Francisco, CA
998            430 Fair Oaks St, San Francisco, CA
999       720 Stockton St APT 3, San Francisco, CA
Name: Address, Length: 1000, dtype: object

> Let's check the result type:

In [69]:
type(df['Address'])

pandas.core.series.Series

Columns can also be retrieved using "attribute" access as `DataFrame`s add a property for each column with the names of the properties as the names of the columns.  This won't work however for columns that have spaces or dots in their name.

> Let's check the value of `df`'s `.Address` property:

In [70]:
df.Address

0        829 Folsom St UNIT 906, San Francisco, CA
1       690 Market St UNIT 1705, San Francisco, CA
2      401 Grand View Ave APT 3, San Francisco, CA
3                250 Concord St, San Francisco, CA
4            88 King St APT 317, San Francisco, CA
5                 409 Miguel St, San Francisco, CA
6          1250 Clay St APT 306, San Francisco, CA
                          ...
993                439 19th Ave, San Francisco, CA
994        250 King St UNIT 410, San Francisco, CA
995     310 Townsend St APT 311, San Francisco, CA
996               1343 31st Ave, San Francisco, CA
997           3916 Alemany Blvd, San Francisco, CA
998            430 Fair Oaks St, San Francisco, CA
999       720 Stockton St APT 3, San Francisco, CA
Name: Address, Length: 1000, dtype: object

> Use the `.name` property (not `.columns`, that's for a `DataFrame`) to get the name of the variable stored inside it.

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.name.html)

In [76]:
addr = df.Address
addr.name

'Address'

> ## `[]`: slicing on rows

> E.g., on the first five rows:

In [80]:
df[:5]

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,...,557.000,sqft,nan,NaN,2010.000
1,89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,...,1050.000,sqft,nan,NaN,2007.000
2,15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,...,937.000,sqft,nan,NaN,1983.000
3,15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,...,1574.000,sqft,1947.000,sqft,1959.000
4,52266124,"88 King St APT 317, San Francisco, CA",37780630,-122389635,False,...,1205.000,sqft,nan,NaN,2000.000

In [106]:
df.loc[[1,2]]

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
1,89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,...,1050.000,sqft,nan,NaN,2007.000
2,15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,...,937.000,sqft,nan,NaN,1983.000

In [104]:
df.iloc[[1,2]]

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
1,89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,...,1050.000,sqft,nan,NaN,2007.000
2,15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,...,937.000,sqft,nan,NaN,1983.000

### > ## `.loc[]` and `.iloc[]`: subsetting rows by index label and location

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.loc.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.iloc.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.set_index.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.reset_index.html)

Until now, the index of the `DataFrame` is a numerical starting from 0 but you can specify which column(s) should be in the index.

> E.g., `ID`:

In [113]:
df = df.set_index('ID')

In [114]:
df.index

Int64Index([2121978635,   89239580,   15131782,   15179502,   52266124,
            2100994004,   15067755,   15112556,   15133321,   61288341,
            ...
              63197318,   15064669,   15142024,   61288364,   69819412,
              82786211,   15103435,   15195183,   15180783,   54854296],
           dtype='int64', name=u'ID', length=1000)

In [115]:
df

,Address,Latitude,Longitude,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,1.000,...,557.000,sqft,nan,NaN,2010.000
89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,2.000,...,1050.000,sqft,nan,NaN,2007.000
15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,2.000,...,937.000,sqft,nan,NaN,1983.000
15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,4.000,...,1574.000,sqft,1947.000,sqft,1959.000
52266124,"88 King St APT 317, San Francisco, CA",37780630,-122389635,False,2.000,...,1205.000,sqft,nan,NaN,2000.000
2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,False,1.000,...,400.000,sqft,nan,NaN,nan
15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,False,1.000,...,541.000,sqft,nan,NaN,1950.000
...,...,...,...,...,...,...,...,...,...,...,...
61288364,"439 19th Ave, San Francisco, CA",37779545,-122478580,False,3.000,...,1544.000,sqft,nan,NaN,2001.000
69819412,"250 King St UNIT 410, San Francisco, CA",37777645,-122393430,False,1.000,...,822.000,sqft,nan,NaN,2004.000
82786211,"310 Townsend St APT 311, San Francisco, CA",37777027,-122395736,False,1.000,...,853.000,sqft,nan,NaN,2006.000
15103435,"1343 31st Ave, San Francisco, CA",37762152,-122490254,False,3.000,...,1886.000,sqft,3000.000,sqft,1934.000
15195183,"3916 Alemany Blvd, San Francisco, CA",37711527,-122467755,False,3.000,...,1300.000,sqft,2553.000,sqft,1941.000
15180783,"430 Fair Oaks St, San Francisco, CA",37749725,-122424094,False,4.000,...,2678.000,sqft,nan,NaN,1911.000
54854296,"720 Stockton St APT 3, San Francisco, CA",37792578,-122407366,False,2.000,...,886.000,sqft,nan,NaN,2001.000

> E.g., row with index 15063505:

In [120]:
df.loc[[15063505]]

,Address,Latitude,Longitude,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,False,nan,...,1430.000,sqft,2435.000,sqft,1948.000

Its name is its value in the index.

> E.g., rows with indices 15063505 and 15064044:

In [121]:
df.loc[[15063505,15064044]]

,Address,Latitude,Longitude,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,False,nan,...,1430.000,sqft,2435.000,sqft,1948.000
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,False,1.000,...,1060.000,sqft,nan,NaN,1930.000

> E.g., rows #1 and #3:

In [122]:
df.iloc[[1,3]]

,Address,Latitude,Longitude,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,2.000,...,1050.000,sqft,nan,NaN,2007.000
15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,4.000,...,1574.000,sqft,1947.000,sqft,1959.000

> ## Subsetting rows by Boolean selection (a.k.a., masking)

Rows can also be selected by using Boolean selection, using an array calculated from the result of applying a logical condition on the values in any of the columns.  This allows us to build more complicated selections than those based simply upon index labels or positions.

> E.g., what homes have been built before 1900?

In [124]:
df[df.BuiltInYear<1900]

,Address,Latitude,Longitude,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
123597388,"667 Shotwell St # A, San Francisco, CA",37757851,-122415629,False,1.000,...,1212.000,sqft,nan,NaN,1890.000
63197592,"3021 20th St, San Francisco, CA",37758878,-122411147,False,1.000,...,1267.000,sqft,nan,NaN,1890.000
15145720,"956 S Van Ness Ave, San Francisco, CA",37757832,-122417139,False,4.000,...,3500.000,sqft,4165.000,sqft,1872.000
119684777,"967 Hayes St, San Francisco, CA",37775645,-122432222,False,4.000,...,3006.000,sqft,nan,NaN,1885.000
15181209,"1001 Diamond St # 1001A, San Francisco, CA",37749461,-122435844,False,3.000,...,2032.000,sqft,1913.000,sqft,1892.000
123597223,"1954 Golden Gate Ave, San Francisco, CA",37778246,-122442763,False,2.000,...,1275.000,sqft,nan,NaN,1895.000
82785514,"1394 Mcallister St, San Francisco, CA",37778463,-122434933,False,3.000,...,2300.000,sqft,nan,NaN,1890.000
114318108,"1442 Grove St # A, San Francisco, CA",37775894,-122440467,False,1.000,...,593.000,sqft,nan,NaN,1890.000
15078866,"753-755 Oak St, San Francisco, CA",37773576,-122431663,False,nan,...,2430.000,sqft,3781.000,sqft,1890.000
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,True,nan,...,3655.000,sqft,nan,NaN,1883.000
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,False,1.000,...,1000.000,sqft,nan,NaN,1870.000
15084954,"1954 Golden Gate Ave, San Francisco, CA",37778420,-122443073,False,2.000,...,1515.000,sqft,nan,NaN,1895.000
15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,False,2.000,...,1593.000,sqft,nan,NaN,1895.000
15082108,"3016 Sacramento St, San Francisco, CA",37788970,-122442995,False,2.000,...,1408.000,sqft,nan,NaN,1890.000
15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,False,6.000,...,7375.000,sqft,2748.000,sqft,1890.000

> Let's subset on that `Series`:

In [125]:
subset =df[df.BuiltInYear<1900]

Multiple conditions can be put together.

> E.g., subset for `BuiltInYear` below 1900 and `Size` over 1500:

In [138]:
df[(df.BuiltInYear<1900) & (df.Size>1500)]

,Address,Latitude,Longitude,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15145720,"956 S Van Ness Ave, San Francisco, CA",37757832,-122417139,False,4.000,...,3500.000,sqft,4165.000,sqft,1872.000
119684777,"967 Hayes St, San Francisco, CA",37775645,-122432222,False,4.000,...,3006.000,sqft,nan,NaN,1885.000
15181209,"1001 Diamond St # 1001A, San Francisco, CA",37749461,-122435844,False,3.000,...,2032.000,sqft,1913.000,sqft,1892.000
82785514,"1394 Mcallister St, San Francisco, CA",37778463,-122434933,False,3.000,...,2300.000,sqft,nan,NaN,1890.000
15078866,"753-755 Oak St, San Francisco, CA",37773576,-122431663,False,nan,...,2430.000,sqft,3781.000,sqft,1890.000
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,True,nan,...,3655.000,sqft,nan,NaN,1883.000
15084954,"1954 Golden Gate Ave, San Francisco, CA",37778420,-122443073,False,2.000,...,1515.000,sqft,nan,NaN,1895.000
15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,False,2.000,...,1593.000,sqft,nan,NaN,1895.000
15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,False,6.000,...,7375.000,sqft,2748.000,sqft,1890.000

It is possible to subset on columns simultaneously.

> E.g., subset (a `DataFrame`) on `Address` for `BuiltInYear` below 1900 and `Size` over 1500:

In [141]:
df[(df.BuiltInYear<1900) & (df.Size>1500)][['Address']]

                                               Address
ID
15145720         956 S Van Ness Ave, San Francisco, CA
119684777              967 Hayes St, San Francisco, CA
15181209    1001 Diamond St # 1001A, San Francisco, CA
82785514         1394 Mcallister St, San Francisco, CA
15078866             753-755 Oak St, San Francisco, CA
2122992200           129 Octavia St, San Francisco, CA
15084954       1954 Golden Gate Ave, San Francisco, CA
15078536             640 Steiner St, San Francisco, CA
15076156             1533 Sutter St, San Francisco, CA

> To get a `Series` instead of a `DataFrame`:

In [148]:
df[(df.BuiltInYear<1900) & (df.Size>1500)]['Address']

ID
15145720           956 S Van Ness Ave, San Francisco, CA
119684777                967 Hayes St, San Francisco, CA
15181209      1001 Diamond St # 1001A, San Francisco, CA
82785514           1394 Mcallister St, San Francisco, CA
15078866               753-755 Oak St, San Francisco, CA
2122992200             129 Octavia St, San Francisco, CA
15084954         1954 Golden Gate Ave, San Francisco, CA
15078536               640 Steiner St, San Francisco, CA
15076156               1533 Sutter St, San Francisco, CA
Name: Address, dtype: object

## Part B | Wrangling the SF Housing dataset (take 2) with `pandas`

In [149]:
properties_df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-properties.csv'), index_col = 'ID')
transactions_df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-transactions.csv'), index_col = 'ID')

(`pd.read_csv` can load the dataset and set the index column for the `DataFrame` at the same time)

In [150]:
properties_df.head()

,Address,Latitude,Longitude,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,1.000,...,557.000,sqft,nan,NaN,2010.000
89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,2.000,...,1050.000,sqft,nan,NaN,2007.000
15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,2.000,...,937.000,sqft,nan,NaN,1983.000
15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,4.000,...,1574.000,sqft,1947.000,sqft,1959.000
52266124,"88 King St APT 317, San Francisco, CA",37780630,-122389635,False,2.000,...,1205.000,sqft,nan,NaN,2000.000

In [151]:
transactions_df.head()

         DateOfSale  SalePrice SalePriceUnit
ID
15165953     1/5/16 650000.000             $
80749447   11/10/15      1.150            $M
15155751   11/10/15 665000.000             $
15143887   12/31/15      2.100            $M
15117639   12/23/15      1.350            $M

> ### Merge both `DataFrames`

(https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html)

In [152]:
df = properties_df.merge(transactions_df,  left_index = True, right_index = True)

In [153]:
df.columns

Index([u'Address', u'Latitude', u'Longitude', u'IsAStudio', u'Beds', u'Baths',
       u'Size', u'SizeUnit', u'LotSize', u'LotSizeUnit', u'BuiltInYear',
       u'DateOfSale', u'SalePrice', u'SalePriceUnit'],
      dtype='object')

In [154]:
df

,Address,Latitude,Longitude,IsAStudio,Beds,...,LotSizeUnit,BuiltInYear,DateOfSale,SalePrice,SalePriceUnit
ID,,,,,,,,,,,
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,1.000,...,NaN,2010.000,12/6/15,675000.000,$
89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,2.000,...,NaN,2007.000,11/23/15,1.050,$M
15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,2.000,...,NaN,1983.000,11/18/15,1.030,$M
15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,4.000,...,sqft,1959.000,12/4/15,815000.000,$
52266124,"88 King St APT 317, San Francisco, CA",37780630,-122389635,False,2.000,...,NaN,2000.000,12/15/15,1.160,$M
2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,False,1.000,...,NaN,nan,12/9/15,510000.000,$
15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,False,1.000,...,NaN,1950.000,1/10/16,695000.000,$
...,...,...,...,...,...,...,...,...,...,...,...
61288364,"439 19th Ave, San Francisco, CA",37779545,-122478580,False,3.000,...,NaN,2001.000,11/25/15,1.000,$M
69819412,"250 King St UNIT 410, San Francisco, CA",37777645,-122393430,False,1.000,...,NaN,2004.000,12/1/15,759000.000,$
82786211,"310 Townsend St APT 311, San Francisco, CA",37777027,-122395736,False,1.000,...,NaN,2006.000,12/8/15,900000.000,$
15103435,"1343 31st Ave, San Francisco, CA",37762152,-122490254,False,3.000,...,sqft,1934.000,12/18/15,1.250,$M
15195183,"3916 Alemany Blvd, San Francisco, CA",37711527,-122467755,False,3.000,...,sqft,1941.000,12/30/15,400000.000,$
15180783,"430 Fair Oaks St, San Francisco, CA",37749725,-122424094,False,4.000,...,NaN,1911.000,12/10/15,2.290,$M
54854296,"720 Stockton St APT 3, San Francisco, CA",37792578,-122407366,False,2.000,...,NaN,2001.000,11/25/15,1.250,$M

> ### Sort rows by increasing ID

(https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_index.html)

In [155]:
df.sort_index(inplace = True)

In [156]:
df

,Address,Latitude,Longitude,IsAStudio,Beds,...,LotSizeUnit,BuiltInYear,DateOfSale,SalePrice,SalePriceUnit
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,False,1.000,...,NaN,1980.000,12/4/15,710000.000,$
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,False,nan,...,sqft,1948.000,11/30/15,2.150,$M
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,False,2.000,...,sqft,1976.000,11/12/15,5.600,$M
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,False,1.000,...,NaN,1930.000,12/11/15,1.500,$M
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,False,2.000,...,NaN,1993.000,1/15/16,970000.000,$
15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,False,2.000,...,NaN,1993.000,12/17/15,940000.000,$
15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,False,1.000,...,NaN,1975.000,12/15/15,835000.000,$
...,...,...,...,...,...,...,...,...,...,...,...
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,1.000,...,NaN,2010.000,12/6/15,675000.000,$
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,True,nan,...,NaN,1883.000,11/20/15,2.750,$M
2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,True,nan,...,NaN,2012.000,1/15/16,390000.000,$
2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,False,1.000,...,NaN,2004.000,11/20/15,860000.000,$
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,False,3.000,...,sqft,1976.000,12/10/15,830000.000,$
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,False,2.000,...,NaN,1975.000,12/15/15,835000.000,$
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,False,1.000,...,NaN,1966.000,1/10/16,825000.000,$

> ### Remove the `Latitude` and `Longitude` columns

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [157]:
df.drop(['Latitude', 'Longitude'], axis = 1, inplace = True)

In [158]:
df

,Address,IsAStudio,Beds,Baths,Size,...,LotSizeUnit,BuiltInYear,DateOfSale,SalePrice,SalePriceUnit
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",False,1.000,nan,550.000,...,NaN,1980.000,12/4/15,710000.000,$
15063505,"740 Francisco St, San Francisco, CA",False,nan,2.000,1430.000,...,sqft,1948.000,11/30/15,2.150,$M
15063609,"819 Francisco St, San Francisco, CA",False,2.000,3.500,2040.000,...,sqft,1976.000,11/12/15,5.600,$M
15064044,"199 Chestnut St APT 5, San Francisco, CA",False,1.000,1.000,1060.000,...,NaN,1930.000,12/11/15,1.500,$M
15064257,"111 Chestnut St APT 403, San Francisco, CA",False,2.000,2.000,1299.000,...,NaN,1993.000,1/15/16,970000.000,$
15064295,"111 Chestnut St APT 702, San Francisco, CA",False,2.000,2.000,1033.000,...,NaN,1993.000,12/17/15,940000.000,$
15064391,"1821 Grant Ave APT 101, San Francisco, CA",False,1.000,1.000,1048.000,...,NaN,1975.000,12/15/15,835000.000,$
...,...,...,...,...,...,...,...,...,...,...,...
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",False,1.000,1.000,557.000,...,NaN,2010.000,12/6/15,675000.000,$
2122992200,"129 Octavia St, San Francisco, CA",True,nan,nan,3655.000,...,NaN,1883.000,11/20/15,2.750,$M
2124214951,"412 Green St APT A, San Francisco, CA",True,nan,1.000,264.000,...,NaN,2012.000,1/15/16,390000.000,$
2126960082,"355 1st St UNIT 1905, San Francisco, CA",False,1.000,1.000,691.000,...,NaN,2004.000,11/20/15,860000.000,$
2128308939,"33 Santa Cruz Ave, San Francisco, CA",False,3.000,3.000,1738.000,...,sqft,1976.000,12/10/15,830000.000,$
2131957929,"1821 Grant Ave, San Francisco, CA",False,2.000,2.000,1048.000,...,NaN,1975.000,12/15/15,835000.000,$
2136213970,"1200 Gough St, San Francisco, CA",False,1.000,1.000,900.000,...,NaN,1966.000,1/10/16,825000.000,$

> ### `SalePrice`: scale all amount to `$M`

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html)

In [166]:
df.SalePriceUnit.unique()

array(['$', '$M'], dtype=object)

In [167]:
df_1 = df[df.SalePriceUnit == '$']
df_1 = df_1.drop('SalePriceUnit', axis = 1)

# Scaling sale price to $M
df_1.SalePrice /= 10 ** 6

df_6 = df[df.SalePriceUnit == '$M']
df_6 = df_6.drop('SalePriceUnit', axis = 1)

In [173]:
# Concatenate of two DataFrames by rows
df = pd.concat([df_1, df_6])

In [174]:
# Resort the new DataFrame
df.sort_index(inplace = True)

> ### `IsAStudio`: convert from a Boolean to a binary variable (i.e., 0 or 1)

In [176]:
df.IsAStudio *=1

In [177]:
df.IsAStudio

ID
15063471      0
15063505      0
15063609      0
15064044      0
15064257      0
15064295      0
15064391      0
             ..
2121978635    0
2122992200    1
2124214951    1
2126960082    0
2128308939    0
2131957929    0
2136213970    0
Name: IsAStudio, Length: 1000, dtype: object

> ### `Size`

In [178]:
df.SizeUnit.unique()

array(['sqft', nan], dtype=object)

Size is either in square feet or missing.  Almost no work needed except to remove size unit.

In [179]:
df.drop('SizeUnit', axis = 1, inplace = True)

> ### `LotSize`: scale all values to square feet

In [180]:
df.LotSizeUnit.unique()

array([nan, 'sqft', 'ac'], dtype=object)

Lot sizes are either in square feet or in acres.  Let's convert them all to square feet.

> Group #1: the `na` values:

In [181]:
df_na = df[df.LotSizeUnit.isnull()]
df_na = df_na.drop('LotSizeUnit', axis = 1)

df_na.shape[0]

444

> Group #2: the `sqft` values:

In [ ]:
# TODO (use df_sqft)

> Group #3: the `ac` values:

In [ ]:
# TODO (use df_ac)

> Let's scale these `acre` values into `sqft`:

In [ ]:
# (1 acre = 43,560 sqft)

# TODO

Let's now put everything back together...

In [ ]:
df = pd.concat([df_na, df_sqft, df_ac]).sort_index()

In [ ]:
df

> ## `.to_csv`: save the `DataFrame` into a `.csv` file

At the end of each phase (i.e., wrangling) of your data science project, it is a good idea to save your dataset into disk.  Then for the next step, create a new Jupyther notebook and load your updated dataset

In [182]:
df.to_csv(os.path.join('..', 'datasets', 'dataset-03-zillow.csv'), index_label = 'ID')

## Part C | Advanced topics

### `.groupby()`

(http://pandas.pydata.org/pandas-docs/stable/groupby.html)

> What is the mean price of houses by number of bathrooms?

In [183]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow.csv'))

In [184]:
df[ ['Baths', 'SalePrice'] ].groupby('Baths').mean()

        SalePrice
Baths
1.000       0.988
1.100       1.420
1.250       1.600
1.500       1.223
1.750       0.928
2.000       1.275
2.250       0.184
...           ...
5.500       4.240
6.000       4.879
6.500      16.000
7.000       0.999
7.500       5.530
8.000      13.100
14.000      1.000

[20 rows x 1 columns]

### `.map()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html)

When converting `SalePrice`, `Size`, and `LotSize` into `$M` and sqft, we could also have done the following:

In [185]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-transactions.csv'))

In [186]:
df.SalePriceUnit.unique()

array(['$', '$M'], dtype=object)

In [187]:
df.SalePriceUnit.map({'$': 1. / (10 ** 6), '$M': 1.})

0     0.000
1     1.000
2     0.000
3     1.000
4     1.000
5     0.000
6     0.000
       ...
993   0.000
994   0.000
995   0.000
996   1.000
997   0.000
998   0.000
999   0.000
Name: SalePriceUnit, Length: 1000, dtype: float64

In [188]:
df.SalePrice *= df.SalePriceUnit.map({'$': 1. / (10 ** 6), '$M': 1.})

In [192]:
df.SalePrice

0     0.650
1     1.150
2     0.665
3     2.100
4     1.350
5     0.825
6     0.625
       ...
993   0.700
994   0.750
995   0.731
996   5.530
997   0.625
998   0.895
999   0.650
Name: SalePrice, Length: 1000, dtype: float64

In [193]:
df.drop('SalePriceUnit', axis = 1, inplace = True)

In [194]:
df

            ID DateOfSale  SalePrice
0     15165953     1/5/16      0.650
1     80749447   11/10/15      1.150
2     15155751   11/10/15      0.665
3     15143887   12/31/15      2.100
4     15117639   12/23/15      1.350
5    124852113   11/10/15      0.825
6     15124281   12/18/15      0.625
..         ...        ...        ...
993   61325457   12/11/15      0.700
994  119685503   11/30/15      0.750
995   69819708   12/15/15      0.731
996   15076156   11/12/15      5.530
997  119685619   12/21/15      0.625
998   15113584   12/21/15      0.895
999   15068874   12/24/15      0.650

[1000 rows x 3 columns]

> ### Activity:  Using `.map()`, convert `Size` and `LotSize` to sqft.

In [195]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-properties.csv'))

In [ ]:
# TODO

### `.to_datetime()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)

In [203]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow.csv'))

In [204]:
df.DateOfSale

0       12/4/15
1      11/30/15
2      11/12/15
3      12/11/15
4       1/15/16
5      12/17/15
6      12/15/15
         ...
993     12/6/15
994    11/20/15
995     1/15/16
996    11/20/15
997    12/10/15
998    12/15/15
999     1/10/16
Name: DateOfSale, Length: 1000, dtype: object

So far, the dates stored in the `DataFrame` are just strings.  We cannot easily extract the day, month, year.  Thanksfully, `pandas` provides some facilities to do so.

In [205]:
pd.to_datetime(df.DateOfSale)

0     2015-12-04
1     2015-11-30
2     2015-11-12
3     2015-12-11
4     2016-01-15
5     2015-12-17
6     2015-12-15
         ...
993   2015-12-06
994   2015-11-20
995   2016-01-15
996   2015-11-20
997   2015-12-10
998   2015-12-15
999   2016-01-10
Name: DateOfSale, Length: 1000, dtype: datetime64[ns]

In [206]:
df.DateOfSale = pd.to_datetime(df.DateOfSale)

### `.apply()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html)

In [207]:
df.DateOfSale.apply(lambda date_of_sale: date_of_sale.year)

0      2015
1      2015
2      2015
3      2015
4      2016
5      2015
6      2015
       ...
993    2015
994    2015
995    2016
996    2015
997    2015
998    2015
999    2016
Name: DateOfSale, Length: 1000, dtype: int64

In [212]:
df['YearOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.year)
df['MonthOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.month)
df['DayOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.day)
df['WeekDayOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.weekday_name)

df.drop('DateOfSale', axis = 1, inplace = True)

Now, we have the day, day of the week, month, and year of the sale as features in our dataset.

In [213]:
df

,ID,Address,IsAStudio,Beds,Baths,...,SalePrice,YearOfSale,MonthOfSale,DayOfSale,WeekDayOfSale
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",0.000,1.000,nan,...,0.710,2015,12,4,Friday
1,15063505,"740 Francisco St, San Francisco, CA",0.000,nan,2.000,...,2.150,2015,11,30,Monday
2,15063609,"819 Francisco St, San Francisco, CA",0.000,2.000,3.500,...,5.600,2015,11,12,Thursday
3,15064044,"199 Chestnut St APT 5, San Francisco, CA",0.000,1.000,1.000,...,1.500,2015,12,11,Friday
4,15064257,"111 Chestnut St APT 403, San Francisco, CA",0.000,2.000,2.000,...,0.970,2016,1,15,Friday
5,15064295,"111 Chestnut St APT 702, San Francisco, CA",0.000,2.000,2.000,...,0.940,2015,12,17,Thursday
6,15064391,"1821 Grant Ave APT 101, San Francisco, CA",0.000,1.000,1.000,...,0.835,2015,12,15,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...
993,2121978635,"829 Folsom St UNIT 906, San Francisco, CA",0.000,1.000,1.000,...,0.675,2015,12,6,Sunday
994,2122992200,"129 Octavia St, San Francisco, CA",1.000,nan,nan,...,2.750,2015,11,20,Friday
995,2124214951,"412 Green St APT A, San Francisco, CA",1.000,nan,1.000,...,0.390,2016,1,15,Friday
996,2126960082,"355 1st St UNIT 1905, San Francisco, CA",0.000,1.000,1.000,...,0.860,2015,11,20,Friday
997,2128308939,"33 Santa Cruz Ave, San Francisco, CA",0.000,3.000,3.000,...,0.830,2015,12,10,Thursday
998,2131957929,"1821 Grant Ave, San Francisco, CA",0.000,2.000,2.000,...,0.835,2015,12,15,Tuesday
999,2136213970,"1200 Gough St, San Francisco, CA",0.000,1.000,1.000,...,0.825,2016,1,10,Sunday