# DS-SF-36 | Unit Project | 1 | Research Design | Starter Code

In this first unit project, you will create a framework to scope out data science projects.  This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

## Part A.  Evaluate the following problem statement:

> "Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and `activity score 1 = active user`, `0 = inactive user`) based on Hooli data from January-April 2015."

> ### Question 1.  What is the outcome?

Answer: The outcome is predicting which free-tier customer will convert to paying customers with yes or no.

> ### Question 2.  What are the predictors/covariates?

Answer: Age, gender, location, prefession days since last log in, activity score.

> ### Question 3.  What timeframe is this data relevent for?

Answer: From January - April 2015

> ### Question 4.  What is the hypothesis?

Answer: Demographic information and customer useage data will allow us to predict which free-tier customers will covert to paying customers.

## Part B.  Let's start exploring our UCLA dataset and answer some simple questions:

In [21]:
import os
import pandas as pd

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.notebook_repr_html', True)

df = pd.read_csv(os.path.join('..', '..', 'dataset', 'dataset-ucla-admissions.csv'))

df

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
..     ...    ...   ...       ...
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[400 rows x 4 columns]

In [22]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
admit,400.0,0.317500,0.466087,0.00,0.00,0.000,1.00,1.0
gre,398.0,588.040201,115.628513,220.00,520.00,580.000,660.00,800.0
gpa,398.0,3.390930,0.380630,2.26,3.13,3.395,3.67,4.0
prestige,399.0,2.486216,0.945333,1.00,2.00,2.000,3.00,4.0

In [23]:
df.corr()

             admit       gre       gpa  prestige
admit     1.000000  0.182919  0.175952 -0.241355
gre       0.182919  1.000000  0.382408 -0.124533
gpa       0.175952  0.382408  1.000000 -0.059031
prestige -0.241355 -0.124533 -0.059031  1.000000

In [24]:
df.isnull().sum()

admit       0
gre         2
gpa         2
prestige    1
dtype: int64

> ### Question 5.  Create a data dictionary.

In [25]:
dict = [{'description' : 'student application status (1=admin, 0=dony)', 'type': 'bianary', 'variable': 'admit' },
       {'description' : 'gre score (220-800)', 'type': 'continuous', 'variable': 'gre' },
       {'description' : 'gpa score (2.26-4)', 'type': 'continuous', 'variable': 'gpa' },
       {'description' : 'prestige ranking (1-4)', 'type': 'predtige', 'variable': 'categorical' },]

df_dict = pd.DataFrame(dict)

df_dict

                                    description        type     variable
0  student application status (1=admin, 0=dony)     bianary        admit
1                           gre score (220-800)  continuous          gre
2                            gpa score (2.26-4)  continuous          gpa
3                        prestige ranking (1-4)    predtige  categorical

Answer: TODO

(Use the template below)

Variable | Description | Type of Variable
---|---|---
Var 1 | 0 = Not thing, 1 = Thing | Categorical
Var 2 | Thing in unit X | Continuous

We would like to explore the association between X and Y.

> ### Question 6.  What is the outcome?

Answer: The outcome is predicte the admission of UCLA, where 1 = admitted, and 0 = not admitted.

> ### Question 7.  What are the predictors/covariates?

Answer: Those predictors are gre, gpa, and prestige.

> ### Question 8.  What timeframe is this data relevent for?

Answer: there is not timeframe.

> ### Question 9.  What is the hypothesis?

Answer:The hypothesis is about the student's gre, gpa and prestige status.

> ### Question 10.  What's the problem statement?

> Using your answers to the above questions, write a well-formed problem statement.

Answer: As using student gre, gpa and prestige ranking to predict which student will be admitted to UCLA. There is no timeframe in this database.

## Part C.  Create an exploratory analysis plan by answering the following questions:

Because the answers to these questions haven't yet been covered in class yet, this section is optional.  This is by design.  By having you guess or look around for these answers will help make sense once we cover this material in class.  You will not be penalized for wrong answers but we encourage you to give it a try!

> ### Question 11. What are the goals of the exploratory analysis?

Answer: The goals of the exploratory analysis are try to understand the relationship between data and to assess the quality of the data.

> ### Question 12.  What are the assumptions of the distribution of data?

Answer: The GRE and GPA are continuous variables; Admit is a binary dependent variable; Prestige is ordinal.

> ### Question 13.  How will determine the distribution of your data?

In [26]:
df.gre.plot(kind= 'hist', figsize =(10,10))

In [27]:
df.gpa.plot(kind= 'hist', figsize =(10,10))

In [ ]:
df.admit.plot(kind= 'hist', figsize =(10,10))

In [ ]:
df.prestige.plot(kind= 'hist', figsize =(10,10))

In [29]:
df[['admit','gre','gpa', 'prestige']].plot(kind= 'hist', figsize =(10,10))

> ### Question 14.  How might outliers impact your analysis?

> ### Question 15.  How will you test for outliers?

In [31]:
df[['gpa']].boxplot(figsize = (10, 10))

In [32]:
df[['gre']].boxplot(figsize = (10, 10))

> ### Question 16.  What is colinearity?

In [33]:
df.corr()

             admit       gre       gpa  prestige
admit     1.000000  0.182919  0.175952 -0.241355
gre       0.182919  1.000000  0.382408 -0.124533
gpa       0.175952  0.382408  1.000000 -0.059031
prestige -0.241355 -0.124533 -0.059031  1.000000

In [34]:
color = df.admit.map({1: 'green', 0: 'red'})

In [35]:
pd.tools.plotting.scatter_matrix(
    df[ ['gre', 'gpa', 'prestige'] ],
    diagonal = 'kde', s = 75, c = color, figsize = (12, 12)
)

C:\Users\einst_000\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: 'pandas.tools.plotting.scatter_matrix' is deprecated, import 'pandas.plotting.scatter_matrix' instead.
  This is separate from the ipykernel package so we can avoid doing imports until

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x000001A54954B780>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000001A5495A6B00>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000001A549615198>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000001A54966E550>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000001A5496DABA8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000001A5496DABE0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000001A5497B0710>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000001A549809B38>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000001A549844B38>]], dtype=object)

> ### Question 17.  How will you test for covariance?

In [20]:
df.cov()

             admit           gre        gpa   prestige
admit     0.217237      9.871271   0.031191  -0.106189
gre       9.871271  13369.953040  16.824761 -13.648068
gpa       0.031191     16.824761   0.144879  -0.021260
prestige -0.106189    -13.648068  -0.021260   0.893654

> ### Question 18.  What is your exploratory analysis plan?

> Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis one year from now.

Answer: TODO