# Process
## - Define the problem(+ hypothesis
## - Collect the data
## - Tidy the data
## - Split train/test
## - EDA
    - You can't ask a machine to understand the data before you do
    - Plots/significance testing/summary statistics
## - Modeling
    - Feature engineering(selection)
    - ML algo selection/metric selection
    - Hyperparameter selection?
        - Train/cross-validate the model
    - For hyperparameter1 in (...)
        - For hyperparameter2 in (...)
            - Run k-fold(param1, param2,...)
            - Record model
    - Take the model that generalize the best
    - Retrain the model with the entire training set with selected features, model, and hyperparameters
    - Are you sure?
    - Test~!
    - Retrain the model with the entire training set with selected features, model, and hyperparameters
    - Ship~!

In [1]:
import pandas as pd
import os
import numpy as np
from sklearn import tree,externals
%load_ext gvmagic

In [2]:
#read the dataset
df = pd.read_csv(os.path.join('datasets', 'pets.csv'))

In [3]:
df

       name animal   size  friendly
0        Bo  snake  small      True
1     Miles    dog  small      True
2      Fifi    cat  small     False
3     Muffy    cat  small      True
4     Rufus    dog  large      True
5  Jebediah  snail  small      True
6  Aloysius    dog  large     False
7       Tom    cat  large     False

In [4]:
x = df[['name','animal','size']]
c = df[['friendly']]

In [5]:
x

       name animal   size
0        Bo  snake  small
1     Miles    dog  small
2      Fifi    cat  small
3     Muffy    cat  small
4     Rufus    dog  large
5  Jebediah  snail  small
6  Aloysius    dog  large
7       Tom    cat  large

In [6]:
c

   friendly
0      True
1      True
2     False
3      True
4      True
5      True
6     False
7     False

In [7]:
names_df = pd.get_dummies(df.name, prefix = 'name')

In [8]:
names_df

,name_Aloysius,name_Bo,name_Fifi,name_Jebediah,name_Miles,name_Muffy,name_Rufus,name_Tom
0,0,1,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0
2,0,0,1,0,0,0,0,0
3,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,1,0
5,0,0,0,1,0,0,0,0
6,1,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1

In [9]:
names_df = pd.get_dummies(df.name)
animal_df = pd.get_dummies(df.animal)
size_df = pd.get_dummies(df['size'])

In [10]:
# 2 new features: 
# - Start with an A
# up to 4 Characters

In [11]:
df['has_4_letter'] = df.name.str.len()<=4
df['start_w_A'] = df.name.str.startswith('A')

In [12]:
df

       name animal   size  friendly  has_4_letter  start_w_A
0        Bo  snake  small      True          True      False
1     Miles    dog  small      True         False      False
2      Fifi    cat  small     False          True      False
3     Muffy    cat  small      True         False      False
4     Rufus    dog  large      True         False      False
5  Jebediah  snail  small      True         False      False
6  Aloysius    dog  large     False         False       True
7       Tom    cat  large     False          True      False

In [13]:
X = pd.concat([names_df, animal_df, size_df], axis = 1)
X

,Aloysius,Bo,Fifi,Jebediah,Miles,Muffy,Rufus,Tom,cat,dog,snail,snake,large,small
0,0,1,0,0,0,0,0,0,0,0,0,1,0,1
1,0,0,0,0,1,0,0,0,0,1,0,0,0,1
2,0,0,1,0,0,0,0,0,1,0,0,0,0,1
3,0,0,0,0,0,1,0,0,1,0,0,0,0,1
4,0,0,0,0,0,0,1,0,0,1,0,0,1,0
5,0,0,0,1,0,0,0,0,0,0,1,0,0,1
6,1,0,0,0,0,0,0,0,0,1,0,0,1,0
7,0,0,0,0,0,0,0,1,1,0,0,0,1,0

In [14]:
model = tree.DecisionTreeClassifier().fit(X, c)

In [15]:
model.score(X,c)

1.0

In [16]:
dot_data = externals.six.StringIO()
tree.export_graphviz(model, out_file = dot_data, feature_names = X.columns)
%dotstr dot_data.getvalue()

WindowsError: [Error 2] The system cannot find the file specified

In [ ]:
names_df = pd.get_dummies(df.name)
animal_df = pd.get_dummies(df.animal)
size_df = pd.get_dummies(df['size'])

In [ ]:
X

In [ ]:
x.drop(['cat', 'large'], axis = 1 inplace = True)